
.App {
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1.5rem;
  margin: 2vw;
  /* justify-content: center; */
  text-align: center;
  place-items: center;
  /* background-color: blue; */

}
.searchBox{
  display: grid;
  place-items: center;
  height: 5vh;
  /* background-color: aqua; */
  /* text-align: center; */
}
.search_player{
  height: 3vh;
}

.nba{
  color: rgb(237, 240, 249);
}
.navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(5, 5, 5);
  height: 8vh;
  place-items: center;
  
}
  .name{ 
  color: rgb(255, 255, 255);
  /* background-color: rgb(49, 49, 158); */
  text-align: center;
  font-weight: bolder;
  background-color:rgba(124, 124, 183,0.7);

} 
.pos{
  color: rgb(255, 255, 250);
  font-size: 1.2vw;
  background-color: rgba(144, 153, 183, 0.7);
}
.pos1{
  color: rgb(245, 247, 245);
  font-size: 1.2vw;
  background-color: rgba(166, 169, 214,0.7);
}
.find{
  text-align: center;
}
.find input{
  height: 4vh;
  width: 10vw;
  /* font-size: 20px; */
  padding-left: 15px;
  border: 0.4vh solid blueviolet;

  
}

.profile{
  border: 5px solid rgb(174, 48, 117);
  border-bottom-left-radius: 10%;
  margin-top: 2vh;
  box-shadow: 0 0.7rem rgb(156, 164, 197);
  /* translate: 2rem; */
  /* background-color: rgba(141, 37, 37, 0.3); */
  display: grid;
  place-items: center;
  /* background: rgb(214,33,85); */
/* background: linear-gradient(94deg, rgb(85, 120, 245) 30%, rgb(147, 42, 42) 66%); */
   background-image:url(./card.jpg); 
   
  /* background-image:url(card.jpg); */
  /* background-image:(linear-gradient((rgba(101, 44, 44, 0.3)),url(./card.jpg))); */
  background-position: center; 
  background-size: cover; 

  /* grid-template-columns: 1fr 1fr; */
  height: 45vh;
  width: 15vw;
}
.teams_nba{
  border: 5px solid rgb(197, 175, 175);
  border-radius: 45%;
  margin-top: 2vh;
  box-shadow: 0 0.7rem rgb(76, 96, 175);
  /* translate: 2rem; */
  background-color: rgba(148, 57, 45, 0.3);
  display: grid;
  place-items: center;
  /* background: rgb(214,33,85); */
/* background: linear-gradient(94deg, rgb(85, 120, 245) 30%, rgb(147, 42, 42) 66%); */
   /* background-image:url(./card.jpg);  */
   
  background-image:url(PLAYER.jpg);
  /* background-image:(linear-gradient((rgba(101, 44, 44, 0.3)),url(./card.jpg))); */
  background-position: center; 
  background-size: cover; 

  /* grid-template-columns: 1fr 1fr; */
  height: 30vh;
  width: 15vw;
}

.container{
 align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  /* background-color: rgb(1, 5, 22); */
  height: 9vh;
}
.ele{
list-style: none;
font-size: 1.5vh;
color: rgb(185, 135, 135);
}
.logo{
  list-style: none;
  font-size: 3.6vw;
  font-weight: 420;
  display: grid;
  /* width: ; */
  /* garem; */
}
.logo_img{
  height: 5.8vh;
  width: 2.3vw;
}
.Gal_bg{
background-color: blanchedalmond;
height: 90vh;
text-align: center;
}
.navL{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.active{
  color: rgb(64, 54, 148);
}
.sort{
  display: flex;
  justify-content: center;
  gap: 2vw;
  background-color: rgb(166, 166, 219);
  height: 6vh;
  align-items: center;
  
}
.sort .item{
  background-color: rgb(53, 53, 112);
  list-style: none;
  text-align: center;
  width: 18vw;
  height: 4vh;
  color: rgb(205, 205, 229);
  /* padding-left: 10px; */
  
}
.gal_nav{
  display: flex;
  height: 4vh;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  /* gap: 2vw; */
  /* background-color: rgb(232, 238, 238); */
  /* padding: ; */

}
.gal_nav .G_view{
  width: 8vw;
}
.details{
  border: 5px solid rgb(161, 36, 36);
  background: rgb(214,33,85);
  background: linear-gradient(194deg, rgba(214,33,85,1) 21%, rgba(63,214,182,1) 73%);
  /* background-color: rgb(166, 166, 211); */
  /* background-image: url("./bgnba.jpg");
  background-position: center;
  background-size: cover;
   */
  /* border-radius: 45%; */
  /* margin-top: 2vh; */
  /* box-shadow: 0 0.7rem rgb(76, 96, 175); */
  /* translate: 2rem; */
  
  display: grid;
  place-items: center;
  height: 70vh;
  width: 60vw;

}
.grid1{
  width: 100vw;
  height: 80vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  background-color: aliceblue;
  
  /* border: 0.3rem solid black; */
}
.description{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.7vw;
  font-weight: bolder;
  /* background-color: coral; */
  margin-bottom: 20%;
  color: rgb(235, 235, 245);
}
.details .pname{
  margin-top: 20%;
  color: azure;
  /* background-color: rgb(180, 207, 207); */

}
.btn{
  padding: 2vw;
}

.checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  height: 6vh;
  /* background-color: bisque; */

}
.teambtn{
  width: 12vw;
  height: 3vh;
  border: 0.1rem solid rgb(152, 64, 64);
  display: grid;
  background-color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  color: wheat;

}