.App {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 2vw;
  /* justify-content: center; */
  text-align: center;
  place-items: center;
  /* background-color: blue; */
}
.list_bg{
  background-color: rgb(130, 141, 141);
}
.searchBox {
  display: grid;
  place-items: center;
  height: 5vh;
  /* background-color: aqua; */
  /* text-align: center; */
}
.search_player {
  height: 3vh;
}

.nba {
  color: rgb(241, 244, 248);
  font-size: 4.2rem;
  font-weight: 400;
  font-family: "Bree Serif", serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  height: 10vh;
  place-items: center;
  /* gap: 2vh; */
}
.logo_box{
  display: flex;
  gap: 0.4vw;
}
.logo {
  list-style: none;
  font-size: 3.6vw;
  font-weight: 420;
  /* display: grid; */
  /* width: ; */
  /* garem; */
}
.logo_img {
  height: 5.4vh;
  width: 2.3vw;
}

.pos {
  color: rgb(255, 255, 250);
  font-size: 1.2vw;
  background-color: rgba(144, 153, 183, 0.7);
}
.pos1 {
  color: rgb(245, 247, 245);
  font-size: 1.2vw;
  background-color: rgba(93, 98, 158, 0.7);
}


.profile {
  border: 5px solid rgb(92, 92, 92);
  border-radius: 10%;
  margin-top: 2vh;
  box-shadow: 0.5rem 0.7rem rgb(156, 164, 197);
  /* box-shadow: 0 0.7rem rgb(156, 164, 197); */
  /* translate: 2rem; */
  /* background-color: rgba(141, 37, 37, 0.3); */
  display: grid;
  grid-template-rows: 6vh 1fr;

  place-items: center;
  /* background: rgb(214,33,85); */
  /* background: linear-gradient(94deg, rgb(85, 120, 245) 30%, rgb(147, 42, 42) 66%); */
  /* background-image: url(./card.jpg); */

  /* background-image:url(card.jpg); */
  /* background-image:(linear-gradient((rgba(101, 44, 44, 0.3)),url(./card.jpg))); */
  /* background-position: center; */
  /* background-size: cover; */

  /* grid-template-columns: 1fr 1fr; */
  height: 55vh;
  width: 20vw;
  opacity: 0.9;
}
.data_id{
  height: 6vh;
  width: 20vw;
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  /* padding-left: 0.2vw; */
  /* justify-content: center; */
  align-items: center;
  text-decoration: none;
  /* border-top-left-radius: 10%; */
  /* border-top-right-radius: 12%; */
}
.data_page{
  /* background-color: rgb(207, 32, 41); */
  border-top:solid black ;
  /* height: 38vh; */
  width: 15vw;
  display: grid;
  grid-template-rows: 1fr 8vh;

  justify-content: center;
  align-items: center;

}
.profile_img{
  height: 35vh;
  width: 15vw;
  background-image: url(./img/ppic.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 35vh 18vw;
  /* background-color: blue */
}
.data_name{
  height: 6vh;
  display: grid;
  /* margin-top: 4vh; */
  justify-content: center;
  align-items: center;
  border-top: solid black;
  /* border-bottom: solid black; */
  
}

.name_id {
  color: rgb(0, 0, 0);
  /* background-color: rgb(49, 49, 158); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  font-weight: bolder;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: rgba(124, 124, 183, 0.7);
  height: 5vh;
  width: 2.5vw;
}
.name {
  color: rgb(255, 255, 255);
  
  /* background-color: rgb(49, 49, 158); */
  text-align: center;
  font-weight: bolder;
  color: black;
  /* background-color: rgba(124, 124, 183, 0.7); */
}
.pages_btn {
  height: 5vh;
  width: 99.5vw;
  background-color: transparent;
  /* opacity: 0; */
  display: flex;
  /* position: absolu; */
  align-items: center;
  justify-content: center;
  position: fixed;
  justify-content: space-between;
  /* margin-top: 15%; */
}
.pages_btn_fixed{
  position: fixed;
  top: 0;
  z-index: 999;
}
.page_change{
  background-color: rgb(153, 180, 212);
  width: 5vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.find {
  text-align: center;
}
.find input {
  height: 4vh;
  width: 30vw;
  /* font-size: 20px; */
  /* padding-left: 20px; */
  text-align: center;
  border-radius:10% ;
  border: 0.2rem solid rgb(172, 143, 199);
}
.find .inputL {
  margin-top: 2%;
  height: 4vh;
  width: 30vw;
  /* font-size: 20px; */
  /* padding-left: 20px; */
  text-align: center;
  border-radius:10% ;
  border: 0.2rem solid rgb(172, 143, 199);
}
.search_nav{
  /* background-color: aqua; */
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.teams_nba {
  border: 5px solid rgb(197, 175, 175);
  border-radius: 45%;
  margin-top: 2vh;
  box-shadow: 0 0.7rem rgb(76, 96, 175);
  /* translate: 2rem; */
  background-color: rgba(148, 57, 45, 0.3);
  display: grid;
  grid-template-rows: repeat(3,1fr);
  place-items: center;
  /* background: rgb(214,33,85); */
  /* background: linear-gradient(94deg, rgb(85, 120, 245) 30%, rgb(147, 42, 42) 66%); */
  /* background-image:url(./card.jpg);  */

  background-image: url(PLAYER.jpg);
  /* background-image:(linear-gradient((rgba(101, 44, 44, 0.3)),url(./card.jpg))); */
  background-position: center;
  background-size: cover;

  /* grid-template-columns: 1fr 1fr; */
  height: 30vh;
  width: 15vw;
}
.nba_team{
  /* border: 0.2rem solid red; */
  height: 8vh;
  display: flex;
  justify-content: flex-end;
}
.nba_conference{
  /* border: 0.2rem solid red; */
  height: 8vh;

}
.nba_tm_id{
  /* border: 0.2rem solid red; */
  text-decoration: none;
  height: 8vh;
  width: 3vw;

}
.tt_txt{
  color: rgb(238, 13, 13);
}
/* .Gal_bg */

.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  /* background-color: rgb(1, 5, 22); */
  height: 9vh;
}
.ele {
  list-style: none;
  font-size: 1.5vh;
  color: rgb(180, 149, 149);
}

.gal_bg {
  /* background-color: rgb(214, 207, 214); */
  height: 100%;
  text-align: center;
  /* background-image: url("./img/gal_bg.jpg"); */
  /* background-attachment: fixed; */
   
  /* background-position: center; */
  /* background-size: cover; */
  
}
.navL {
  text-decoration: none;
  color: rgb(231, 230, 230);
}
.active {
  color: rgb(128, 117, 228);
}
.sort {
  display: flex;
  justify-content: center;
  /* gap: 2vw; */
  /* background-color: rgb(144, 144, 230); */
  height: 6vh;
  /* width: 7vw; */
  align-items: center;
  /* border-bottom: 0.3rem solid rgb(30, 33, 206); */
  /* border-top: 0.3rem solid rgb(231, 16, 16); */
}
.sort .item {
  background-color: rgb(139, 139, 189);
  list-style: none;
  justify-content: center;
  width: 6vw;
  height: 4vh;
  /* border-radius: 50%; */
  color: rgb(8, 8, 8);
  display: flex;
  align-items: center;
  /* padding-left: 10px; */
}
.s_txt{
  color: rgb(14, 12, 12);
}
.gal_nav {
  display: flex;
  height: 4vh;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  /* gap: 2vw; */
  /* background-color: rgb(232, 238, 238); */
  /* padding: ; */
}
.gal_nav .G_view {
  width: 8vw;
}
.details {
  /* #dede18 */
  /* border: 0.2rem solid rgb(236, 118, 8); */
  border-top: 0.5rem solid rgb(5, 50, 250);
  border-left: 0.5rem solid rgb(1, 67, 248);
  border-right: 0.5rem solid rgb(252, 4, 4);
  border-bottom: 0.5rem solid rgb(250, 0, 0);
  background: rgb(49, 48, 49);
  background: linear-gradient(194deg, rgb(78, 78, 78) 21%, rgb(12, 12, 12) 73%);
  /* background-color: rgb(166, 166, 211); */
  /* background-image: url("./bgnba.jpg");
  background-position: center;
  background-size: cover;
   */
  /* border-radius: 45%; */
  /* margin-top: 2vh; */
  /* box-shadow: 0 0.7rem rgb(76, 96, 175); */
  /* translate: 2rem; */
  /* z-index: 99999; */

  display: grid;
  place-items: center;
  height: 70vh;
  width: 60vw;
  opacity: 0.6;
}
.detail_box {
  display: grid;
  grid-template-rows: 8vh 1fr;
}
.grid1 {
  width: 100vw;
  height: 80vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  /* top: 30%; */
  /* background-color: aliceblue; */

  /* border: 0.3rem solid black; */
}
.description {
  text-align: center;
  /* color: rgb(85, 75, 75); */
  font-size: 1.5vw;
  font-weight: 900;
  /* background-color: brown; */
  /* height: 50vh; */
  /* background-color: coral; */
  margin-bottom: 20%;
  color: rgb(255, 255, 255);
  font-family: "Bree Serif", serif;
  /* font-family: "EB Garamond", serif; */
  /* font-family: "Kanit", sans-serif; */
  /* font-family: "Pacifico", cursive; */
  /* font-family: "PT Serif", serif; */
  /* z-index: 9999999999; */
}
.des_box{
  display: grid;
  place-items: center;
  height: 56vh;
  /* background-color: brown; */
}
.head {
  background-color: rgb(10, 8, 8);
  border: 0.2rem solid rgb(114, 110, 110);
  height: 8vh;
  width: 59vw;
  margin-top: 0;
  display: grid;
  place-items: center;
  /* padding-top: ; */
}
.details .pname {
  text-align: center;
  font-family: "EB Garamond", serif;
  /* background-color: aqua; */
  /* margin-top: 20%; */
  color: rgb(233, 225, 225);
  /* background-color: rgb(180, 207, 207); */
}
.btn {
  /* border-top: 0.2rem solid rgb(219, 216, 216); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vw;
  width: 8vw;
  height: 2vh;
  font-weight: bolder;
  font-family: "Pacifico", cursive;
  font-size: 0.9vw;
  cursor: pointer;
  /* background-color: transparent;
   */
  /* background: rgb(233, 224, 226); */
  /* background: linear-gradient(194deg, rgb(15, 15, 15) 21%, rgb(90, 92, 91) 73%); */
  opacity: 0.74;
  font-weight: bolder;
  color: rgb(250, 241, 241);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  height: 6vh;
  /* background-color: bisque; */
}
.teambtn {
  width: 12vw;
  height: 3vh;
  border: 0.1rem solid rgb(152, 64, 64);
  display: grid;
  background-color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  color: wheat;
}
.box_disp {
  width: 100vw;
  height: 80vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  background-color: aliceblue;
}
.T_details {
  border: 5px solid rgb(194, 169, 169);
  background: rgb(214, 33, 85);
  background: linear-gradient(
    194deg,
    rgb(84, 60, 192) 21%,
    rgb(117, 163, 43) 73%
  );
  /* background-color: rgb(166, 166, 211); 
  /* background-image: url("./bgnba.jpg");
  background-position: center;
  background-size: cover;
   */
  /* border-radius: 45%; */
  /* margin-top: 2vh; */
  /* box-shadow: 0 0.7rem rgb(76, 96, 175); */
  /* translate: 2rem; */

  display: grid;
  place-items: center;
  height: 70vh;
  width: 60vw;
}
.t_bttn {
  height: 10vh;
  width: 7vw;
  border: 0.2rem solid rgb(109, 89, 89);
  background-color: rgb(71, 127, 201);
  border-radius: 20%;
  box-shadow: 0 0.4rem rgb(192, 180, 180);
}
.team_description {
  color: white;
  font-size: 1.2vw;
}
.team_bg{
  background-image:url(./img/bggall.png) ;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.special {
  color: rgb(0, 191, 255);
  font-size: 1.4vw;
}
.btn_container {
  height: 5vh;
  /* background-color:aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap: 1.5rem; */
  margin: 2vw;
  /* justify-content: center; */
  text-align: center;
  place-items: center;
  
}
.list_profile {
  /* top: 40%; */
  border: 5px solid rgb(24, 34, 182);
  border-bottom-left-radius: 10%;
  margin-top: 2vh;
  box-shadow: 0 0.7rem rgb(218, 212, 224);
  /* opacity: 0.6; */
  /* translate: 2rem; */
  background-color: rgba(117, 33, 156, 0.3);
  display: grid;
  place-items: center;
  /* background: rgb(110, 33, 182); */
  /* background: linear-gradient(94deg, rgb(85, 120, 245) 30%, rgb(147, 42, 42) 66%); */
  /* background-image:url(./card.jpg);  */

  /* background-image:url(card.jpg); */
  /* background-image:(linear-gradient((rgba(101, 44, 44, 0.3)),url(./card.jpg))); */
  background-position: center;
  background-size: cover;

  /* grid-template-columns: 1fr 1fr; */
  height: 8vh;
  width: 80vw;
}
.namelist{
  color: aliceblue;
  font-size: large;
}
.p_detail {
  background-image: url("./img/canva_nba.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* opacity: 0.7; */
}
.team_bg{
  background-color: rgb(252, 245, 245);
}
.idid{
  font-size: 1.6vw;
  color: white;
  font-weight: 700;
  /* font-size: larger; */
}
